<%- include('../partials/__head.ejs') %>

<body>
    <%- include('../partials/__navbar.ejs') %>
    <div class="container">
        <form action="/pemilik/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Pemilik</label>
                <input type="text" class="form-control" name="nama_pemilik" value="<%= nama_pemilik %>" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">Alamat</label>
                <input type="text" class="form-control" name="alamat" value="<%= alamat %>" required>
            </div>
            <div class="mb-3">
                <label for="nama" class="form-label">No Hp</label>
                <input type="text" class="form-control" name="no_hp" value="<%= no_hp %>" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>

<%- include('../partials/__foot.ejs') %>